.searchWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  width: auto; /* десктоп */
}

.searchForm {
  display: flex;
  width: auto; /* десктоп */
}

.searchInput {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .searchWrapper {
    width: 100%;
  }

  .searchForm {
    width: 100%;
  }

  .searchInput {
    width: 100%;
  }
}

