.container {
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cellHead, .cell {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .toggleButton {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    background-color: #0070f3; /* базовий колір кнопки */
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .toggleButton:hover {
    background-color: #005bb5;
  }
  
  .toggleButtonYellow {
    background-color: #ffcc00;
    color: black;
  }
  
  .toggleButtonYellow:hover {
    background-color: #e6b800;
  }
  .filter {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .filter label {
    font-weight: 600;
  }
  
  .filter select {
    padding: 5px 10px;
    border-radius: 4px;
  }     
  .descriptionCell {
    width: 250px;              /* або інша фіксована ширина */
    max-width: 250px;
    word-break: break-word;    /* переносить довгі слова */
    white-space: normal;       /* дозволяє перенос по рядках */
  }
  