:root {
  /* Background colors */
  --color-bg-dark: #2F4F4F;
  --color-bg-light: #EDE7DC;
  --color-bg-dark-hover: #709090;
  --color-bg-white: #f2f2f2;

  /* Text colors */
  --color-text-dark: #202020;
  --color-text-light: #EDE7DC;
  --color-text-white: #FFFFFF;
  --color-text-red: #c84a55;  
  --color-text-gray: #888;  
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html, body {
  height: 100%;
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  width: 100%;
  font-size: clamp(40px, 15vw, 212px);
  font-weight: 500; 
  line-height: 120%;   
  color: var(--color-text-light);
  font-family:'Lora', serif;
}


