.footer {    
    background-color:  #2F4F4F;       
    text-align: center;
    color: rgba(237, 231, 220, 1);
}

.footerFullWidth {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0; /* Adjusted padding for better spacing */
}

.title {
    width: 100%;
    /* font-size: 212px; */
    font-weight: medium; 
    margin-bottom: 10px;  
    line-height: 120%;  
    letter-spacing: 3px;    
    font-size: clamp(40px, 15vw, 212px);  
}
/* .container {
    display: flex;
    justify-content: space-around;   
    flex-wrap: wrap;   
} */

.container {
    width: 100%;
    display: grid;
    padding: 0 5%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* або gap: 2rem; */
    justify-items: center;
  
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
    
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 1fr;      
    }
  }
  

.containerItem {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    list-style: none;  
}

.itemTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.item {
    font-size: 16px;
    text-align: start;
}

.footerLink {
    font-size: 16px;
    text-decoration: none;
    color: rgba(237, 231, 220, 1);
    cursor: pointer;    
}


.copyright{
    border-top: 2px solid rgba(237, 231, 220, 1);
    padding: 20px 0px 40px 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(237, 231, 220, 1);
}


