.container {
  max-width: 1400px;
  margin: 85px auto;  
  min-height: 100vh;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  animation: fadeIn 0.8s ease-out;
  width: 100%;
  padding: 0; 
}

/* newCollection */
.newCollection {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 85px;
  background-image: url("../../../public/home/newCollection.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; 
}
.titleNewCollection {
  color: #f2f2f2;
  font-size: 128px;
  font-weight: 400;
  font-family: "Lora", serif;
}
.buyLink {
  display: inline-flex; 
  justify-content: center;
  align-items: center;

  padding: 10px 90px; 
  font-family: "Lora", serif;
  color: #f2f2f2;
  font-size: 16px;
  background-color: var(--color-bg-dark);
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  align-self: center; 
  width: auto; 
}

/* ekoInfo */

.ekoInfo {
  width: 100%;
  display: grid;
  gap: 20px;
  padding: 20px;
  margin-bottom: 85px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.ekoInfoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px; 
}
.ekoInfoNumber {
  font-size: 64px;
  font-weight: 400;
  font-family: "Mea Culpa", serif;
}
.ekoInfoText {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lora", serif;
}

/* aboutUs */
.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 36px;
  margin-bottom: 85px; 
  padding: 0 20px;
}
.aboutUsBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  gap: 20px; 
}

.aboutUsTextBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.aboutUsTextTitle {
  font-size: 18px;
  font-weight: 600;  
}
.aboutUsImage {
  width: 100%;
  height: auto;
}

.aboutUsImageContent {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
.titleAboutUs, .titlePlanWork {
  font-size: 64px;
  font-weight: 400;
  font-family:'Lora', serif;
 
}

/* aboutBrand */
.aboutBrand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70vh;
  margin-bottom: 85px;
  background-color: black;
  position: relative;
}
.aboutBrandBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 60px;
  color: #f2f2f2;
}
.aboutBrandBox::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 25%;
  width: 50%;
  height: 75%;
  background-image: url("../../../public/home/aboutBrand.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.aboutBrandBoxText {
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;
}
.aboutBrandName {
  font-size: 16px;
}
.aboutBrandTextUp {
  text-align: left;
}
.aboutBrandText {
  width: 40%;
  text-align: left;
}
.aboutBrandBoxSlogan{
   z-index: 1;
}
.aboutBrandSlogan {
  width: 95%;
  text-align: right;  
}
.aboutBrandLine {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #111;
  padding: 10px 0;
  color: #f2f2f2;
  z-index: 1;
}

.aboutBrandLine::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to right, black 0%, transparent 10%, transparent 90%, black 100%);
  z-index: 2;
  pointer-events: none;
}

.aboutBrandLineInner {
  display: flex;
  width: max-content;
  animation: scrollLine 20s linear infinite;
}

.lineContent {
  display: flex;
  white-space: nowrap;
}

.aboutBrandLineDecor {
  font-size: 24px;
  font-family: "Mea Culpa", serif;
  font-weight: 400;
  padding: 0 10px;
  margin-left: 30px;
}
@keyframes scrollLine {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* planWork */
.planWork{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  margin-bottom: 85px;
  padding: 0 20px; 
}
.planWorkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.planWorkBox {
  padding-top: 55px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);

  @media (max-width: 1024px) {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 100%;   
  }  
}
.planWorkInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 310px;  
  height: 310px; 
  border-radius: 50%;
  border: 1px solid var(--color-bg-dark);
  margin: 0 auto 20px; 
}

.planWorkNumber {
  font-size: 32px;
  font-weight: 400;
  font-family: "Mea Culpa", serif;
}
.planWorkText {
  font-size: 24px;
  font-weight: 500;
  font-family: "Lora", serif;
}

.planWorkList {
  margin-top: 55px;
  text-align: left;
}





@media (max-width: 1024px) {
  .titleAboutUs, .titlePlanWork {
    font-size: 48px; 
  }
  .container {
    margin-top: 65px;
  }
}

@media (max-width: 768px) {
  .titleAboutUs, .titlePlanWork {
    font-size: 32px; 
  }
  .titleNewCollection {
    font-size: 40px; 
    margin-top: 60px;
  }
  
  .aboutUsBox {
    grid-template-columns: 1fr;
    gap: 40px; 
    align-items: flex-start; 
  }

  .aboutUsTextBox {   
    width: 100%;
  }

  .aboutUsTextTitle {
    font-size: 16px;
  }

  .aboutUsText {
    font-size: 14px;
    line-height: 1.5;
  }

  .aboutUsImage {
    width: 100%;    
  }

  .aboutUsImageContent {
    width: 100%;
    height: auto;
  }

  .aboutUs {
    gap: 48px;
    margin-bottom: 48px;
    align-items: center;
  }
  .aboutBrand{
    height:600px; 
     
  }
  .aboutBrandBox {
    padding: 20px 20px 0 20px;   
  }
  .aboutBrandBox::after
  {
    bottom: 20px; 
    left: 15%;
    width: 60%; 
    height: 40%; 
  }
  .aboutBrandText{
    width: 100%;
  }
  .planWorkList {   
    margin-top: 30px;   
    padding: 0 30px; 
  }
  .planWork{
    align-items: center;
  }  
}

